/*Fuentes*/
@font-face{
    font-family: 'Amiko';
    src: url(Fuentes/Amiko/Amiko-Regular.ttf);
    color: #ffffff;
}
html, body{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #161616;
    font-family: 'Amiko';
    font-size: 62.5%;
    overflow-x: hidden;
}
.headerPrincipal{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #161616;
    position: fixed;
    top: -1px;
    z-index: 99;
}
.logoHeader{
    margin-left: 10%;
    margin-right: 25%;
    padding: 0.5rem;
}
.logoHeader img{
    width: 8rem;
}
.navbar{
    width: 100%;
    margin-top: 30px;
}
.navbar a {
    color: #E3E3E3;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10%;
    font-size: 0.8rem;
}
.navbar button {
    background-color: transparent;
    color: #E3E3E3;
    text-decoration: none;
    font-family: 'Amiko';
    border: none;
    font-weight: bold;
    margin-right: 10%;
    font-size: 0.8rem;
    cursor: pointer;
}
.blueLetter{
    color: #3BCCFF;
}
#mitchell{
    font-family: 'Amiko';
    display: flex;
    width: 100%;
    height:calc(100vh - 100px);
    margin-top: 100px;
    
}
.fotoMit{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 40.90%;
    margin-right: 50px;
}
.fotoMit img{
    height: calc(100vh - 100px);
    width: 75%;
    margin-right: 50px;
}
.infoMit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 59.09%;
    height: calc(100vh - 100px);
   
    
}
.saludoRedes{
    width: 100%;
    height: 4.2rem;
    display: flex;
    align-items: center;
}
.saludo{
    color: #FFFFFF;
    width: 55%;
    font-size: 1.5rem;
    margin-right: 150px;
}
.redes{
    display: flex;
    justify-content: space-around;
    width: 0.5rem;
}
.insta{
    margin: 0.7rem;
}
.twitter{
    margin: 0.7rem;
}
.WhatsApp{
    margin: 0.7rem;
}
.infoMit .info{
    width: 100%;
    
}
.title{
    color: white;
    font-family: 'Amiko';
    font-size: 2rem;
}
.info p{
 color: #BCBCBC;
 font-size: 1.2rem; 
 text-align: justify;
 margin-right: 5rem;  
 word-spacing: 3px;
 line-height: 29px; 
}
.skills{
    padding: 5vh 20vh 5vh 10vh;
}
.padreSkillsInfo{
    display: flex;
    width: 100%;
    color: white;
    
}
.logoSkill{
    width: 6rem;
    height: 3rem;
    justify-content: center;
}
.logoSkill img{
    width: 2.5rem;
    height: 2.5rem;
}
#HTMLLogo{
    width: fit-content;
    margin-left: -17.5px;
}
.skillPercentage{
    width: 100%;
}
.porcentajeName{
    width: 100%;
    display: flex;
    justify-content: center;
}
.skillName{
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
}
.porcentaje{
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
}
.skillPercentage input{
    width: 100%; 
}
#barraID{
    -webkit-appearance: none;
    height: 8px;
    border-radius: 5px;
}
#barraID::-webkit-slider-thumb{
    -webkit-appearance: none;
}
.trailhead{
    display: flex;
    text-transform: uppercase;
    align-items: center;
    margin-bottom: 2rem;
}
.trailhead h1{
    color: #E7E7E7;
    font-size: 1rem;
    margin: 0 4rem 0 7rem;
}
.trailhead img{
    width: 3rem;
    padding: 0.7rem;
}
.botonTrailhead{
    display: flex;
    width: 13rem;
    align-items: center;
    background-color: #34b1df;
    border-radius: 25px;
}
.botonTrailhead:hover{
    display: flex;
    align-items: center;
    background-color: #37bdee;
    border-radius: 30px;
    cursor: pointer;
}
.botonTrailhead h1{
    margin: 0 0 0 2rem;
    font-weight: bolder;
}
#kevind{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row-reverse;
    margin-top: 9rem;
    padding-left: 5rem;
    margin-bottom: -20px;
}


  
